/* Josepin Sans */
@font-face {
  font-family: 'JosefinSans';
  font-weight: 400;
  src: url('../fonts/josefin-sans-regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

/* Outfit  */
@font-face {
  font-family: 'Outfit';
  font-weight: 400;
  src: url('../fonts/outfit-regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

:root {
  --font-main: 'JosefinSans';
  --font-sub: 'Outfit';
}

body {
  font-family: var(--font-main);
}